{{#bs-form onSubmit=(perform save model) novalidate=true model=model as |form|}}
  {{form.element property="message" label=(t "message_hint")
    controlType="textarea" autofocus=true rows="5"}}

  <div class="row">
    <div class="col-sm-4">
      {{#form.element property="status" label=(t "status_hint") as |el|}}
        {{#ember-power-select options=messageStatus onchange=(action (mut el.value))
          allowClear=false
          selected=el.value
          as |item|}}
          {{t item}}
        {{/ember-power-select}}
      {{/form.element}}
    </div>

    <div class="col-sm-4">
      {{#form.element property="style" label=(t "style_hint") as |el|}}
        {{#ember-power-select options=messageStyles onchange=(action (mut el.value))
          allowClear=false
          selected=el.value
          as |item|}}
          {{t item}}
        {{/ember-power-select}}
      {{/form.element}}
    </div>

    <div class="col-sm-4">
      {{#if model.style}}
        {{#bs-alert type=model.style dismissible=false}}
          <strong>Lorem Ipsum</strong> Lorem ipsum.
        {{/bs-alert}}
      {{/if}}
    </div>
  </div>

  <div class="row">
    <!-- /.col -->
    <div class="col-sm-4 col-sm-offset-4 col-xs-8 col-xs-offset-2">
      {{#bs-button type="primary" buttonType="submit" block=true
        class="btn-flat"}}
        {{#if save.isRunning}}
          {{fa-icon "circle-o-notch" spin=true}}
        {{else}}
          {{#if model.isNew}}
            {{t "action_create"}}
          {{else}}
            {{t "action_update"}}
          {{/if}}
        {{/if}}
      {{/bs-button}}
    </div>
    <!-- /.col -->
  </div>
{{/bs-form}}
