{{#bs-form onSubmit=(perform save model) novalidate=true model=model as |form|}}
  {{form.element property="name" label=(t "name_hint")
    autofocus=true}}
  {{form.element property="phone" label=(t "phone_hint") }}
  {{#form.element property="country" label=(t "country_hint") as |el|}}
    {{#ember-power-select
      options=countries
      onchange=(action (mut el.value))
      placeholder=(t "country_hint")
      selected=el.value
      searchField="value"
      as |country|}}
      <div class="f32 inline-block middle-align" style="margin-top: -7px">
        <div class="flag {{country.id}}"></div>
      </div>
      <div class="inline-block middle-align" style="margin-top: -7px">
        {{country.value}}
      </div>
    {{/ember-power-select}}
  {{/form.element}}
  {{form.element property="city" label=(t "city_hint") }}
  {{form.element property="btcAddress" label=(t "btc_address_hint")
    controlType="textarea" rows="2"}}

  <div class="row">
    <!-- /.col -->
    <div class="col-xs-6 col-xs-offset-3">
      {{#bs-button type="primary" buttonType="submit" block=true
        class="btn-flat"}}
        {{#if save.isRunning}}
          {{fa-icon "circle-o-notch" spin=true}}
        {{else}}
          {{t "action_update"}}
        {{/if}}
      {{/bs-button}}
    </div>
    <!-- /.col -->
  </div>
{{/bs-form}}